@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap');

* {
    margin: 0%;
    padding: 0%;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

:root {
    /* font-size */
    --fs-10: 10px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-sm: 18px;
    --fs-md: 20px;
    --fs-lg: 24px;
    --fs-xl: 28px;
    --fs-2xl: 30px;
    --fs-32: 32px;
    --fs-3xl: 34px;
    --fs-4xl: 36px;
    --fs-5xl: 40px;
    --fs-6xl: 44px;
    --fs-7xl: 48px;
    --fs-8xl: 50px;
    --fs-9xl: 58px;
    --fs-10xl: 64px;
    /* color */
    --color-white: #ffffff;
    --color-navy-blue: #1219D233;
    --color-blue: #1219D2;
    --color-blue-gredient: linear-gradient(90deg, #1219D2 0%, #4E52B1 100%);
    --color-voilet: #8A8EF714;
    --color-menu: #1F204A;
    --color-grey: #8A88A5;
}

/* navbar */
.menu {
    position: fixed;
    background: var(--color-menu);
    z-index: 10;
}

.nav-head {
    font-family: "Racing Sans One", sans-serif;
    font-size: var(--fs-xl);
    font-weight: 400;
    line-height: 35.7px;
    text-align: left;
    color: var(--color-white);
}

.navlink {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: var(--color-white);
}

.nav-btn {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--color-white);
    width: 190px;
    height: 52px;
    border-radius: 60px;
    background: var(--color-blue-gredient);
    border: none;
}

/* section-1 */
.bgimg {
    background-image: url(../images/png/sec1bgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.pt-8 {
    padding-top: 12rem;
}

.sec1-title {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-10xl);
    font-weight: 400;
    line-height: 75.2px;
    text-align: center;
    color: var(--color-white);
}

.travel {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-10xl);
    font-weight: 400;
    line-height: 75.2px;
    text-align: center;
    color: var(--color-white);
}

.blurbox {
    max-width: 930px;
    width: 100%;
    /* height: 300px; */
    padding: 30px;
    margin-top: 65px;
    border-radius: 16px;
    background: var(--color-voilet);
    border: 1px solid #FDFDFD66;
}

.stay {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: var(--color-white);
}

.goinbox {
    width: 452px;
    /* height: 48px; */
    border-radius: 8px;
    background: #FFFFFF14;
    border: 1px solid #FFFFFF99;
    padding: 16px;
}

.going {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 300;
    line-height: 24px;
    color: var(--color-white);
    text-align: left;
}

.check {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-10);
    font-weight: 300;
    line-height: 15px;
    text-align: left;
    color: var(--color-white);
}

.jun {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: var(--color-white);
}

.calenderbox {
    width: 180px;
    /* height: 48px; */
    border-radius: 8px;
    background: #FFFFFF14;
    border: 1px solid #FFFFFF99;
    padding: 5px;
}

.room {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-14);
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    color: var(--color-white);
}

.checkin {
    width: 18px;
    height: 18px;
    border-radius: 1px;
    border: 0.6px solid #FFFFFF;
}

.flight {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: var(--color-white);
}

.srch-btn {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--color-white);
    width: 122px;
    height: 52px;
    border-radius: 60px;
    background: var(--color-blue-gredient);
    border: none;
    margin-top: 34px;
}

.input_2 {
    /* max-width: 180px; */
    border-radius: 8px;
    border: 1px solid var(--grey3);
    background: var(--black2);
    padding: 5px 10px 7px 10px;

}

.form-group {
    display: block;
    margin-bottom: 30px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
}

.form-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 0.6px solid #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
    top: 0px;
}

.form-group input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 6px;
    height: 14px;
    border: 0.6px solid #FFFFFF;
    border-radius: 2px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* section-2 */
.bgclr {
    background-color: #140D1B;
    /* height: 100vh; */
    margin-top: -5px;
}

.about {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-7xl);
    font-weight: 400;
    line-height: 56.4px;
    text-align: left;
    color: var(--color-white);
}

.para {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--color-white);
    margin-top: 16px;
}

.get-btn {
    width: 167px;
    height: 52px;
    border-radius: 60px;
    background: var(--color-blue-gredient);
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--color-white);
    margin-top: 40px;
}

/* section-3 */
.mt-24 {
    margin-top: 24px;
}

.border-radius {
    border-radius: 20px;
}

.destination {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-7xl);
    font-weight: 400;
    line-height: 56.4px;
    text-align: center;
    color: var(--color-white);
    margin-bottom: 50px;
}

.cir {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: var(--color-white);
    margin: 0;
    padding: 0;
}

.img-box,
.img-box img,
.blur-txt {
    border-radius: 13px;
    transition: all 300ms linear;
}

.img-box:hover img {
    scale: 1.1;
}

.img-box:hover .blur-txt {
    opacity: 100%;
    z-index: 1;
}

.blur-txt {
    background: #01010140;
    width: 253px;
    padding: 10px;
    border-radius: 42px;
    place-items: center;
    top: 12px;
    left: 12px;
    z-index: -1;
    backdrop-filter: blur(10px);
    opacity: 0%;
}

.img-box:hover .blur-txt {
    opacity: 100%;
    z-index: 1;
}

/* section-4 */
.pt-160 {
    padding-top: 160px;
}

.money {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 28.2px;
    text-align: left;
    color: var(--color-white);
}

.hide {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 28.2px;
    text-align: left;
    color: var(--color-grey);

}

.forty {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 23.5px;
    text-align: left;
    color: var(--color-white);
}

.childslider {
    width: 367px;
    height: 500px;

}

.bluebox {
    background: var(--color-navy-blue);
    padding: 15px;
    width: 100%;
}

.corner {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.txt {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-md);
    font-weight: 600;
    line-height: 27.3px;
    text-align: left;
    color: var(--color-white);
    margin-top: 24px;
}

/* the slides */
.slick-slide {
    margin: 0 27px;
}

/* the parent */
.slick-list {
    margin: 0 -27px;
}

slick-track {
    display: flex;
    gap: 20px;
}

.slick-dots li.slick-active {
    background: var(--color-blue);
    width: 60px;
}

.slick-dots li button:before {
    content: unset;
}

.slick-dots li {
    content: unset;
    width: 28px;
    height: 12px;
    background: var(--color-white);
    /* margin: 7px; */
    border-radius: 21px;
    transition: all 300ms linear;
}

.slick-next:before {
    display: none;
}

.slick-prev:before {
    display: none;
}

.fifty {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: var(--color-white);
}

.off {
    width: 123px;
    height: 44px;
    top: 16px;
    left: 16px;
    padding: 10px 28px 10px 28px;
    gap: 10px;
    border-radius: 42px;
    background: #01010140;
    backdrop-filter: blur(10px);

}

/* section-5 */
.bgimg2 {
    background-image: url(../images/png/sec5bgimg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-color: #25184C;
    margin-top: -10px;
}

.travelbox {
    width: 100%;
    height: 480px;
    padding: 30px 50px 30px 50px;
    border-radius: 20.69px;
    background: rgba(18, 25, 210, .1);
}

.club {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-4xl);
    font-weight: 400;
    line-height: 42.3px;
    text-align: center;
    color: var(--color-white);
}

.seven {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-md);
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: var(--color-white);
}

.max {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #D2D1E1;
}

.gap-5re {
    gap: 5rem !important;
}

.line1 {
    width: 6px;
    background: #696CDF;
    height: 64px;
}

.farm {
    font-family: " Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #D2D1E1;
    margin-bottom: 10px !important;
}

.eighty {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-32);
    font-weight: 400;
    line-height: 37.6px;
    text-align: left;
    color: var(--color-white);
}

.mt-30 {
    margin-top: 30px;
}

.clr2 {
    background: #5C368A;
}

.clr3 {
    background: #E66E9A;
}

.clr4 {
    background: #D1B35E;
}

.clr5 {
    background: #98DAB2;
}

.gap-9 {
    gap: 9rem;
}

/* section-6 */
.childslide {
    width: 367px;
    /* height: 476px; */
    border-radius: 13px;
    background: #1219D233;
}

.dar {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 0;
    color: #FCFFFE;
}

.ml-24 {
    margin-left: 24px;
}

.ceo {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FCFFFE;
}

.slick-dots {
    bottom: -96px;
}

.p-100 {
    padding-bottom: 100px;
    padding-top: 100px;
}