@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap');

* {
    margin: 0%;
    padding: 0%;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

:root {
    /* font-size */
    --fs-10: 10px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-sm: 18px;
    --fs-md: 20px;
    --fs-lg: 24px;
    --fs-xl: 28px;
    --fs-2xl: 30px;
    --fs-3xl: 34px;
    --fs-4xl: 36px;
    --fs-5xl: 40px;
    --fs-6xl: 44px;
    --fs-7xl: 48px;
    --fs-8xl: 50px;
    --fs-9xl: 58px;
    --fs-10xl: 64px;
    /* color */
    --color-white: #ffffff;
    --color-navy-blue: #1219D233;
    --color-blue: #1219D2;
    --color-blue-gredient: linear-gradient(90deg, #1219D2 0%, #4E52B1 100%);
    --color-voilet: #8A8EF714;
    --color-menu: #1F204A;
}

/* navbar */
.menu {
    position: fixed;
    background: var(--color-menu);
    z-index: 10;
}

.nav-head {
    font-family: "Racing Sans One", sans-serif;
    font-size: var(--fs-xl);
    font-weight: 400;
    line-height: 35.7px;
    text-align: left;
    color: var(--color-white);
}

.navlink {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: var(--color-white);
}

.nav-btn {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--color-white);
    width: 190px;
    height: 52px;
    border-radius: 60px;
    background: var(--color-blue-gredient);
    border: none;
}

/* section-1 */
.bgimg {
    background-image: url(../images/png/sec1bgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.pt-8 {
    padding-top: 12rem;
}

.sec1-title {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-10xl);
    font-weight: 400;
    line-height: 75.2px;
    text-align: center;
    color: var(--color-white);
}

.travel {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-10xl);
    font-weight: 400;
    line-height: 75.2px;
    text-align: center;
    color: var(--color-white);
}

.blurbox {
    max-width: 930px;
    width: 100%;
    /* height: 300px; */
    padding: 30px;
    margin-top: 65px;
    border-radius: 16px;
    background: var(--color-voilet);
    border: 1px solid #FDFDFD66;
}

.stay {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: var(--color-white);
}

.goinbox {
    width: 452px;
    /* height: 48px; */
    border-radius: 8px;
    background: #FFFFFF14;
    border: 1px solid #FFFFFF99;
    padding: 16px;
}

.going {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 300;
    line-height: 24px;
    color: var(--color-white);
    text-align: left;
}

.check {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-10);
    font-weight: 300;
    line-height: 15px;
    text-align: left;
    color: var(--color-white);
}

.jun {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: var(--color-white);
}

.calenderbox {
    width: 180px;
    /* height: 48px; */
    border-radius: 8px;
    background: #FFFFFF14;
    border: 1px solid #FFFFFF99;
    padding: 5px;
}

.room {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-14);
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    color: var(--color-white);
}

.checkin {
    width: 18px;
    height: 18px;
    border-radius: 1px;
    border: 0.6px solid #FFFFFF;
}

.flight {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: var(--color-white);
}

.srch-btn {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--color-white);
    width: 122px;
    height: 52px;
    border-radius: 60px;
    background: var(--color-blue-gredient);
    border: none;
    margin-top: 34px;
}

.input_2 {
    /* max-width: 180px; */
    border-radius: 8px;
    border: 1px solid var(--grey3);
    background: var(--black2);
    padding: 5px 10px 7px 10px;

}

.form-group {
    display: block;
    margin-bottom: 30px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
}

.form-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 0.6px solid #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
    top: 0px;
}

.form-group input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 6px;
    height: 14px;
    border: 0.6px solid #FFFFFF;
    border-radius: 2px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* section-2 */
.bgclr {
    background-color: #140D1B;
    /* height: 100vh; */
    margin-top: -5px;
}

.about {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-7xl);
    font-weight: 400;
    line-height: 56.4px;
    text-align: left;
    color: var(--color-white);
}

.para {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--color-white);
    margin-top: 16px;
}

.get-btn {
    width: 167px;
    height: 52px;
    border-radius: 60px;
    background: var(--color-blue-gredient);
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--color-white);
    margin-top: 40px;
}

/* section-3 */
.mt-24 {
    margin-top: 24px;
}

.border-radius {
    border-radius: 20px;
}

.destination {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--fs-7xl);
    font-weight: 400;
    line-height: 56.4px;
    text-align: center;
    color: var(--color-white);
    margin-bottom: 100px;
}